{% extends "layout.html" %}
{% block body %}
<img src="{{ url_for('static', filename='image/humidity_plot.png')}}"
    style="display: block;margin-left: auto;margin-right: auto;width: 50%;">
<p>
    Humidity refers to the amount of moisture in the air. High humidity levels can make the air feel warmer than it
    actually is, while low humidity levels can make the air feel cooler. Humidity can also affect the formation of
    clouds and precipitation.
</p><br>
<a href="/prediction">Back to prediction</a>
{% endblock %}