{% extends "layout.html" %}
{% block body %}
<img src="{{ url_for('static', filename='image/weather.jpg')}}"
    style="display: block;margin-left: auto;margin-right: auto;width: 50%;padding: 15px;">
<p style="display: block;margin-left: auto;margin-right: auto;width: 50%;">
    Our weather predicting is developed on Intel API- DAL. It shows data of OAKLAND INTERNATIONAL AIRPORT, CA, US for
    the years from 1960- 2022.
    The key feature of our weather AI includes the ability to mono and analyze various weather parameters such as
    temperature, humidity, wind speed & direction and precipitation.

</p><br>
<p style="display: block;margin-left: auto;margin-right: auto;width: 50%;">
    The Intel oneAPI Data Analytics Library (oneDAL) contributes to the acceleration of big data analysis by providing
    highly optimized algorithmic building blocks for all phases of data analytics (preprocessing, transformation,
    analysis, modelling, validation, and decision making) in batch, online, and distributed processing modes of
    computation
</p>
{% endblock %}