{% extends "layout.html" %}
{% block body %}
<img src="{{ url_for('static', filename='image/precipitation_plot.png')}}"
    style="display: block;margin-left: auto;margin-right: auto;width: 50%;padding: 15px 0px 0px 0px;">
<p>
    Precipitation is a key factor that influences weather. It refers to any form of moisture that falls from the
    atmosphere and reaches the ground, including rain, snow, sleet, and hail.
</p>
<a href="/prediction" style="font-size: large;display: block;margin-left: auto;margin-right: auto;width: 50%;">Back to prediction</a>
{% endblock %}