{% extends "layout.html" %}
{% block body %}
<img src="{{ url_for('static', filename='image/wind_plot.png')}}"
    style="display: block;margin-left: auto;margin-right: auto;width: 50%;padding: 15px 0px 0px 0px;">
<p>
    Wind can affect the weather in several ways as well. First, it can transport heat from one area to another, which
    can result in changes in temperature. Additionally, wind can affect the formation of clouds and precipitation. For
    example, strong winds can prevent clouds from forming or can blow clouds away, resulting in less precipitation.
</p>
<a href="/prediction" style="font-size: large;display: block;margin-left: auto;margin-right: auto;width: 50%;">Back to prediction</a>
{% endblock %}